body {
    background-color: #D3D0CBFF;
  }
  
  .navbar {
    background-color: #2E5266FF;
  }
  
  .navbar-brand {
    margin-right: 90px;
  }
  
  .nav-link {
    margin-right: 40px;
  }
  
  nav .btn {
    background-color: #D3D0CBFF;
  }

  .container-fluid {
    height: 93vh;
}

.container-form {
    width: 700px;
}

/* Blog Detail */
.blog-detail {
    display: flex;
    justify-content: center;
  }
  
  .blog-detail-container {
    width: 80%;
    margin: 40px 0;
  }
  
  .blog-detail-container img {
    width: 100%;
  }
  
  .blog-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  
  .blog-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  
  .blog-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
  }